<form [formGroup]="login">
    <input type="text" id="name" placeholder="enter your name" formControlName="name">
    <div *ngIf="login.get('name')?.hasError('required') && login.get('name')?.touched">user name is required</div>
    <div *ngIf="login.get('name')?.hasError('maxLength') && login.get('name')?.touched">length is exceeded</div>
    <div *ngIf="login.get('name')?.hasError('minLength') && login.get('name')?.touched">minlength required</div>
    <input type="email" id="email" placeholder="enter your email" formControlName="email">
    <div *ngIf="login.get('email')?.hasError('required') && login.get('email')?.touched">user email is required</div>
    <input type="password" id="password" placeholder="enter your password" formControlName="password">
    <div *ngIf="login.get('password')?.hasError('required') && login.get('password')?.touched">user password is required</div>
    <button (click)="adduser()">submit</button>
</form>
<table border="1">
    <thead>
        <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>password</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of user">
            <td>{{i.id}}</td>
            <td>{{i.name | uppercase}}</td>
            <td>{{i.email | lowercase}}</td>
            <td>{{i.password}}</td>
            <td>
                <button class="btn btn-primary">update</button>
                <button class="btn btn-danger">delete</button>
            </td>
        </tr>
    </tbody>
</table>